<ul>
  <li><strong>Id:</strong> {{usuario.id}}</li>
  <li><strong>Nome:</strong> {{usuario.nome}}</li>
  <li><strong>Sobrenome:</strong> {{usuario.sobrenome}}</li>
  <li><strong>E-mail:</strong> {{usuario.email}}</li>
  <li><strong>Data de Nascimento:</strong> {{usuario.dataNascimento | date: 'dd/MM/yyyy' : 'UTC'}}</li>
  <li><strong>Escolaridade:</strong> {{usuario.escolaridade}}</li>
</ul>
<div class="form-buttons">
  <button routerLink="/" class="btn back-button bg-blue-500 text-white">
    Voltar
  </button>
</div>
